.contacts {
	padding-bottom: 70px;
}

.contacts__text {
	margin-top: 45px;
}

.contacts__text h3 {
	font-size: 24px;
	line-height: 1.2;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 52px;
	font-weight: bold;
}

.contacts__desc {
	padding-bottom: 58px;
}

.contacts__desc p {
	font-size: 24px;
	line-height: 1.25;
	text-align: center;
	font-weight: 400;
}

.contacts__holder {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 -13px;
	margin-top: -10px;
	padding-bottom: 20px;
}

.contacts__col {
	display: flex;
	align-items: flex-end;
	margin: 0 13px;
	margin-bottom: 45px;
}

.contacts__col--inner {
	justify-content: center;
}

.contacts__col--main .contacts__title,
.contacts__col--main .contacts__phone {
	font-weight: bold;
}

.contacts__elem {
	position: relative;
	display: block;
	width: 20px;
	height: 20px;
	fill: #2476cc;
	top: -4px;
	margin-right: 10px;
}

.contacts__title {
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
	padding-bottom: 4px;
}

.contacts__title {
	font-size: 14px;
	color: #000000;
	font-weight: 400;
}

.contacts__phone {
	font-size: 30px;
	line-height: 1;
	color: #000000;
	font-weight: 200;
}

.contacts__user {
	font-size: 24px;
	color: #000;
	text-align: center;
	padding-bottom: 48px;
	font-weight: bold;
}

.contacts__logo {
	max-width: 1454px;
	margin: 0 auto;
	padding-top: 20px;
}

.contacts__logo img {
	display: block;
}

@media screen and (max-width: 960px) {

.contacts__text h3 {
	font-size: 22px;
}

.contacts__phone {
	font-size: 23px;
}

}

@media screen and (max-width: 560px) {

.contacts__holder {
	margin: 0px;
	padding-bottom: 5px;
}

.contacts__col {
	margin: 0px;
	margin-bottom: 40px;
}

}

