.equipment--inner .title--inner {
	text-align: center;
}

.equipment--inner .equipment__block {
	margin-bottom: 25px;
}

.equipment--inner .equipment__item {
	margin-top: 105px;
}

.equipment__subtitle {
	font-size: 60px;
	line-height: 1;
	color: #efefef;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 50px;
	font-weight: 900;
}

.equipment__image {
	max-width: 1454px;
	margin: 0 auto;
}

.equipment__row {
	position: relative;
	margin: 0 70px;
}

.equipment__box {
	font-size: 18px;
	color: #f49f0e;
	text-transform: uppercase;
	text-align: center;
	padding: 0 20px;
	font-weight: bold;
}

.equipment__wrap {
	counter-reset: list_eq;
}

.equipment__wrap .slick-slide {
	display: flex;
}

.equipment__elem {
	position: relative;
	font-size: 30px;
	line-height: 1;
	color: #f49f0e;
	text-transform: uppercase;
	padding-bottom: 30px;
	padding-top: 70px;
	margin-bottom: 26px;
	font-weight: 900;
}

.equipment__elem:after {
	position: absolute;
	content: ' ';
	bottom: 0px;
	left: 0px;
	max-width: 260px;
	width: 100%;
	height: 2px;
	background-color: #2476cc;
}

.equipment__block {
	position: relative;
	margin-bottom: 55px;
}

.equipment__item {
	display: flex;
	justify-content: space-between;
	margin-top: 135px;
	padding-bottom: 100px;
}

.equipment__item:not(.slick-cloned) .equipment__elem:before {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 48px;
	color: #000;
	counter-increment: list_eq;
	content: "00" counter(list_eq);
	font-weight: 200;
}

.equipment__col {
	position: relative;
}

.equipment__col--text {
	width: 54%;
	align-self: end;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	border-radius: 10px;
	padding: 40px;
	padding-bottom: 50px;
	margin-left: 30px;
}

.equipment__col--block {
	width: 46%;
	margin-right: 30px;
}

.equipment__pic {
	display: flex;
	justify-content: flex-end;
	margin-top: -20px;
	margin-right: 70px;
}

.equipment__pic img {
	display: block;
}

.equipment__desc p {
	font-size: 18px;
	line-height: 1.7;
	color: #000;
}

.equipment__desc p:not(:last-child) {
	padding-bottom: 2em;
}

.equipment__desc a {
	display: inline-block;
	font-size: 16px;
	line-height: 1.2;
	color: #000;
	text-decoration: underline;
}

.equipment__desc a:hover {
	text-decoration: none;
}

.equipment__holder {
	position: absolute;
	top: 44%;
	transform: translateY(-50%);
	right: 0px;
	max-width: 270px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding: 16px;
}

.equipment__holder p {
	font-size: 14px;
	line-height: 1.7;
	color: #000000;
}

.equipment__holder a {
	display: inline;
	font-size: 16px;
	line-height: 1.2;
	color: #000;
	text-decoration: underline;
}

.equipment__holder a:hover {
	text-decoration: none;
}

.equipment__arrow {
	position: absolute;
	display: block;
	cursor: pointer;
	outline: none;
	border: none;
	background-color: transparent;
	width: 30px;
	height: 30px;
	padding: 0px;
	top: calc(50% - 15px);
}

.equipment__arrow:after {
	position: absolute;
	content: ' ';
	width: 20px;
	height: 20px;
	top: calc(50% - 11px);
	left: calc(50% - 3px);
	border-left: 3px solid #2476cc;
	border-top: 3px solid #2476cc;
	transform: rotate(-45deg);
	transition: 0.3s border;
}

.equipment__arrow:hover:after {
	border-color: #103359;
}

.equipment__arrow--dir_left {
	left: -55px;
	display: none !important;
}

.equipment__arrow--dir_right {
	transform: scaleX(-1);
	right: -55px;
}

.equipment__btn {
	position: absolute;
	display: block;
	cursor: pointer;
	outline: none;
	border: none;
	background-color: transparent;
	width: 20px;
	height: 20px;
	padding: 0px;
	top: calc(50% - 10px);
}

.equipment__btn:after {
	position: absolute;
	content: ' ';
	width: 14px;
	height: 14px;
	top: calc(50% - 7px);
	left: calc(50% - 3px);
	border-left: 2px solid #2476cc;
	border-top: 2px solid #2476cc;
	transform: rotate(-45deg);
	transition: 0.3s border;
}

.equipment__btn:hover:after {
	border-color: #103359;
}

.equipment__btn--dir_left {
	left: 0px;
}

.equipment__btn--dir_right {
	transform: scaleX(-1);
	right: 0px;
}

@media screen and (max-width: 1530px) {

.equipment__arrow--dir_right {
	right: -42px;
}

}

@media screen and (max-width: 1150px) {

.equipment__pic {
	margin-right: 35px;
}

}

@media screen and (max-width: 1050px) {

.equipment--inner .equipment__item {
	margin-top: 80px;
}

.equipment__col--text {
	padding: 30px 20px;
}

.equipment__pic {
	margin-right: 10px;
}

}

@media screen and (max-width: 960px) {

.equipment--inner .equipment__item {
	margin-top: 40px;
}

.equipment__row {
	margin: 0 30px;
}

.equipment__wrap .slick-slide {
	margin: 0 20px;
	margin-top: 50px;
}

.equipment__elem {
	font-size: 24px;
}

.equipment__item {
	flex-direction: column;
	padding-bottom: 70px;
	margin-top: 75px;
}

.equipment__col {
	width: 100%;
}

.equipment__col--text {
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
}

.equipment__col--block {
	max-width: 440px;
	margin: 0 auto;
}

.equipment__pic {
	margin-top: 50px;
}

.equipment__desc p {
	font-size: 17px;
}

.equipment__holder {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

}

@media screen and (max-width: 780px) {

.equipment__row {
	margin: 0px;
}

.equipment__elem {
	font-size: 22px;
}

.equipment__block {
	margin-bottom: 40px;
}

.equipment__item {
	padding-bottom: 50px;
	margin-top: 45px;
}

.equipment__desc p {
	font-size: 16px;
}

.equipment__arrow--dir_left {
	left: -25px;
	display: block !important;
}

.equipment__arrow--dir_right {
	right: -25px;
}

}

