.info__holder {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info__wrap {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.info__item {
	display: flex;
	align-items: flex-end;
	margin-bottom: 50px;
}

.info__item:not(:last-child) {
	margin-right: 25px;
}

.info__item--email {
	align-items: center;
}

.info__item--email .info__elem {
	font-size: 22px;
}

.info__col {
	font-size: 14px;
	line-height: 1.2;
	color: #000000;
	text-transform: uppercase;
	padding-bottom: 3px;
}

.info__elem {
	font-size: 30px;
	line-height: 1;
	color: #000000;
	font-weight: 200;
}

.info__icon {
	display: block;
	width: 20px;
	height: 20px;
	fill: #2476cc;
	margin-right: 10px;
}

.info__socials {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.info__box {
	display: block;
	margin-bottom: 50px;
}

.info__box svg {
	display: block;
	width: 30px;
	height: 30px;
	fill: #2476cc;
	transition: 0.3s fill;
}

.info__box:not(:last-child) {
	margin-right: 20px;
}

.info__box:hover svg {
	fill: #103359;
}

.info__box--telegram svg {
	width: 36px;
}

.info__box--youtube svg {
	width: 39px;
}

@media screen and (max-width: 1250px) {

.info__holder {
	flex-direction: column;
	justify-content: center;
}

.info__wrap {
	flex-wrap: wrap;
}

.info__item {
	margin-bottom: 40px;
}

.info__socials {
	margin-top: 0px;
}

.info__box {
	margin-bottom: 40px;
}

}

@media screen and (max-width: 960px) {

.info__item {
	margin-bottom: 25px;
}

.info__box {
	margin-bottom: 35px;
}

}

@media screen and (max-width: 780px) {

.info__wrap {
	flex-direction: column;
}

.info__item:not(:last-child) {
	margin-right: 0px;
}

.info__box {
	margin-bottom: 30px;
}

}

@media screen and (max-width: 560px) {

.info__box {
	margin-bottom: 0px;
}

}

@media screen and (max-width: 400px) {

.info__elem {
	font-size: 23px;
}

}

