body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	color: #333333;
	background-color: #fff;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	font-style: normal;
	font-family: "Montserrat";
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

.svg-about {
	position: absolute;
	width: 0px;
	height: 0px;
}

.container {
	max-width: 1230px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.container--inner {
	max-width: 1920px;
	padding: 0px;
}

.container--header {
	max-width: 1280px;
	padding: 0px 10px;
}

.container--contacts {
	max-width: 630px;
}

.container--elem {
	max-width: 1200px;
}

.container--block {
	max-width: 1270px;
}

.container--equipment {
	max-width: 1440px;
	padding: 0 40px;
}

.container--order {
	max-width: 650px;
}

.container--content {
	max-width: 1310px;
}

.container--news {
	max-width: 1280px;
	padding: 0 40px;
}

.container--qr {
	max-width: 660px;
}

.container--write {
	max-width: 560px;
}

.container--holder {
	max-width: 1350px;
}

.container--gallery {
	max-width: 980px;
}

.input {
	display: block;
	width: 100%;
	font-size: 16px;
	background-color: #fff;
	color: #808080;
	border: none;
	outline: none;
	border: 1px solid #B6B6B6;
	border-radius: 10px;
	padding: 14px 15px;
	padding-bottom: 15px;
}

.input--area {
	resize: none;
	min-height: 150px;
}

.input.form-fail {
	border-color: #b00;
}

.input.form-done {
	border-color: #90ee90;
}

.title {
	font-size: 72px;
	line-height: 1;
	color: #2476cc;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 30px;
	font-weight: 300;
}

.title--inner {
	position: relative;
	z-index: 3;
	color: #000000;
	text-align: left;
	padding-bottom: 35px;
}

.title--elem {
	font-family: Roboto;
}

.breadcrumbs__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 32px;
}

.breadcrumbs__list li {
	display: inline-block;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.breadcrumbs__list li a {
	cursor: pointer;
	position: relative;
	margin-right: 7px;
	transition: 0.3s color;
}

.breadcrumbs__list li a:hover {
	color: #103359;
}

.breadcrumbs__list li a:after {
	margin-left: 9px;
	content: '|';
	color: #2476cc;
}

.breadcrumbs__list li,
.breadcrumbs__list a {
	cursor: default;
	font-size: 14px;
	line-height: 1.3;
	color: #2476cc;
	font-weight: 400;
}

.btn {
	display: block;
	width: 100%;
	cursor: pointer;
	font: inherit;
	font-size: 16px;
	line-height: 1.5;
	color: #41307e;
	background-color: #2476CC;
	color: #fff;
	border: none;
	outline: none;
	text-align: center;
	text-transform: uppercase;
	border-radius: 20px 0px 20px 20px;
	padding: 8px;
	font-weight: bold;
	transition: 0.3s background-color, 0.3s color, 0.3s border;
}

.btn--about {
	max-width: 195px;
	margin-right: 40px;
	margin-bottom: 25px;
}

.btn--about[disabled] {
	cursor: default;
	opacity: 0.5;
	text-decoration: line-through;
}

.btn--about:not(:disabled):hover {
	background-color: #103359;
}

@media screen and (max-width: 960px) {

.title {
	font-size: 42px;
}

}

@media screen and (max-width: 840px) {

.container--header {
	padding: 0px;
}

.btn--about {
	margin-right: 0px;
}

}

@media screen and (max-width: 780px) {

.container--news {
	padding: 0 50px;
}

.title {
	font-size: 28px;
}

}

@media screen and (max-width: 650px) {

.container--news {
	padding: 0 30px;
}

.container--qr {
	max-width: 100%;
}

}

