.map .title--inner {
	padding-bottom: 16px;
}

.map__wrap {
	max-width: 730px;
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -11px;
}

.map__item {
	margin: 0 11px;
	margin-bottom: 22px;
}

.map__item img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.map__desc {
	padding-bottom: 44px;
}

.map__desc p {
	font-size: 24px;
	line-height: 1.2;
	color: #000;
	text-transform: uppercase;
	font-family: Roboto;
}

.map__elem {
	position: relative;
	clip-path: url(#map-desc);
	height: 1120px;
	margin-top: -170px;
}

.map__elem iframe {
	position: absolute;
	top: -20px;
	left: 0px;
	display: block;
	width: 100%;
	height: calc(100% + 20px);
}

@media screen and (max-width: 1430px) {

.map__elem {
	margin-top: -130px;
}

}

@media screen and (max-width: 1350px) {

.map__elem {
	height: 900px;
	margin-top: -110px;
}

}

@media screen and (max-width: 1050px) {

.map__elem {
	clip-path: url(#map-md);
	height: 650px;
	margin-top: -70px;
}

}

@media screen and (max-width: 780px) {

.map__wrap {
	justify-content: center;
}

.map__elem {
	clip-path: url(#map-sm);
	height: 450px;
	margin-top: -15px;
}

.map__elem iframe {
	top: -45px;
	height: calc(100% + 45px);
}

}

