.order {
	position: relative;
	background-color: #2476CC;
	padding-bottom: 10em;
}

.order:after,
.order:before {
	position: absolute;
	content: ' ';
	width: calc(100% + 3px);
	background-size: cover;
	background-repeat: no-repeat;
}

.order:after {
	top: -5px;
	height: 391px;
	left: -3px;
	background-image: url(../img/top.svg);
	background-position: top 2px left;
}

.order:before {
	bottom: -2px;
	left: 0px;
	height: 348px;
	background-image: url(../img/bottom.svg);
	background-position: bottom left;
}

.order + .main-footer {
	margin-top: 105px;
}

.order__wrap {
	position: relative;
	z-index: 3;
	background-color: #fff;
	box-shadow: 0px 4px 98px rgba(0, 0, 0, 0.2);
	padding: 50px;
	padding-bottom: 20px;
	border-radius: 10px;
	margin-top: 30px;
	margin-bottom: 45px;
}

.order__title {
	font-size: 30px;
	line-height: 1;
	color: #000000;
	text-transform: uppercase;
	padding-bottom: 56px;
	font-weight: 900;
}

.order__item {
	margin-bottom: 33px;
}

.order__label {
	display: inline-block;
	user-select: none;
	cursor: pointer;
	font-size: 14px;
	line-height: 1.2;
	color: #2476CC;
	text-transform: uppercase;
	margin-left: 20px;
	margin-bottom: 15px;
	font-weight: 900;
}

.order__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 25px;
}

.order__inner .btn--about {
	margin-right: 0px;
}

.order__row {
	margin-right: 30px;
	margin-bottom: 35px;
}

.order__holder {
	position: relative;
	z-index: 3;
}

.order__block {
	font-size: 72px;
	color: #fff;
	text-transform: uppercase;
	padding-left: 45px;
	padding-bottom: 30px;
	font-weight: 900;
}

.order__food {
	max-width: 325px;
	width: 100%;
	font-size: 72px;
	line-height: 1;
	color: #000;
	background-color: #fff;
	box-shadow: 0px 4px 98px rgba(0, 0, 0, 0.2);
	border-radius: 60px;
	text-transform: uppercase;
	text-align: center;
	padding: 21px 5px;
	margin-left: 205px;
	margin-bottom: 25px;
	font-weight: 900;
}

.order__desc {
	position: relative;
	right: -50px;
	font-size: 48px;
	line-height: 1.2;
	color: #2476CC;
	text-transform: uppercase;
	text-align: right;
	font-weight: 900;
}

.order__error {
	color: #8B0000;
	padding-bottom: 15px;
	text-transform: uppercase;
	margin-left: 20px;
	font-weight: bold;
}

.select__wrap {
	position: relative;
	width: 100%;
	font-size: 16px;
	box-sizing: border-box;
}

.select__wrap:after {
	position: absolute;
	top: calc(50% - 8px);
	right: 20px;
	content: '';
	width: 10px;
	height: 10px;
	border-left: 1px solid #2476CC;
	border-bottom: 1px solid #2476CC;
	transform: rotate(-45deg);
	pointer-events: none;
	cursor: pointer;
}

.select__wrap--disabled:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.select__hour,
.select__minute {
	max-width: 85px;
	margin-right: 3px;
	font-size: 24px;
}

.select__hour .select__placeholder,
.select__minute .select__placeholder {
	font-size: 24px;
}

.select__day {
	max-width: 200px;
}

.select__placeholder {
	color: #333333;
	background-color: #fff;
	padding: 12px 30px 12px 13px;
	border: 1px solid #B6B6B6;
	border-radius: 10px;
	line-height: 24px;
	text-transform: uppercase;
	cursor: pointer;
	user-select: none;
}

.select__list {
	position: absolute;
	top: calc(100% + 10px);
	border-radius: 10px;
	left: 0;
	width: 100%;
	max-height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #fff;
	margin: 0;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
	opacity: 0;
	visibility: hidden;
	text-transform: uppercase;
	z-index: 1;
	transition: 0.3s visibility, 0.3s opacity;
}

.select__list--active {
	opacity: 1;
	visibility: visible;
}

.select__item {
	user-select: none;
	font-size: 14px;
	padding: 7px 12px;
	cursor: pointer;
	transition: 0.3s background-color, 0.3s color;
}

.select__item:hover {
	background-color: #103359;
	color: #fff;
}

.select__item--active {
	background-color: #1c5da1;
	color: #fff;
}

.select__item--active:hover {
	background-color: #1c5da1;
	color: #fff;
}

.select__item--disabled {
	text-decoration: line-through;
	background-color: #dddddd;
	color: #a3a3a3;
	user-select: none;
}

.select__item--disabled:hover {
	background-color: #dddddd;
	color: #a3a3a3;
}

.select__item--search {
	padding: 0px;
	border-bottom: 1px solid #333;
}

.select__item--search input {
	display: block;
	width: 100%;
	padding: 4px 12px;
	padding-right: 30px;
	padding-bottom: 5px;
}

@media screen and (max-width: 1700px) {

.order {
	padding-bottom: 8em;
}

}

@media screen and (max-width: 1430px) {

.order {
	padding-bottom: 5em;
}

}

@media screen and (max-width: 1350px) {

.order {
	padding-bottom: 4em;
}

}

@media screen and (max-width: 1150px) {

.order {
	padding-bottom: 2em;
}

}

@media screen and (max-width: 960px) {

.order__wrap {
	padding: 30px 20px;
}

.order__title {
	font-size: 26px;
}

.order__block {
	font-size: 58px;
}

}

@media screen and (max-width: 780px) {

.order {
	padding-bottom: 10em;
}

.order {
	padding-bottom: 6em;
}

.order__block {
	font-size: 45px;
	padding-left: 0px;
	text-align: center;
}

.order__food {
	font-size: 54px;
	margin: 0 auto;
	margin-bottom: 25px;
}

.order__desc {
	font-size: 36px;
	color: #000;
	right: 0px;
	text-align: center;
}

}

@media screen and (max-width: 560px) {

.order__inner {
	display: block;
}

.order__row {
	max-width: 195px;
	margin-right: 0px;
}

.select__wrap {
	font-size: 15px;
}

}

@media screen and (max-width: 480px) {

.order {
	padding-bottom: 8em;
}

.select__day {
	max-width: 250px;
	flex-basis: 100%;
}

}

