.perfomance {
	padding-bottom: 100px;
}

.perfomance__col {
	font-size: 24px;
	line-height: 1.2;
	color: #000;
	text-align: center;
	font-family: Roboto;
}

.perfomance__holder {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 64px;
}

.perfomance__btn {
	position: relative;
	display: block;
	cursor: pointer;
	outline: none;
	border: none;
	background-color: transparent;
	min-width: 30px;
	width: 30px;
	height: 30px;
	padding: 0px;
}

.perfomance__btn:after {
	position: absolute;
	content: ' ';
	width: 20px;
	height: 20px;
	top: calc(50% - 10px);
	left: calc(50% - 3px);
	border-left: 3px solid #2476cc;
	border-top: 3px solid #2476cc;
	transform: rotate(-45deg);
	transition: 0.3s border;
}

.perfomance__btn:hover:after {
	border-color: #103359;
}

.perfomance__btn--dir_right {
	transform: scaleX(-1);
}

.perfomance__row {
	padding: 0 10px;
}

.perfomance__gallery {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 34px;
	margin: 0 -25px;
}

.perfomance__box {
	width: 200px;
	margin: 0 25px;
}

.perfomance__box img {
	display: block;
}

.perfomance__box--active {
	width: calc(100% - 560px);
}

.perfomance__dots {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 -3px;
}

.perfomance__elem {
	cursor: pointer;
	display: block;
	width: 12px;
	height: 12px;
	background-color: #fff;
	outline: none;
	border: 2px solid #2476CC;
	border-radius: 50%;
	padding: 0px;
	margin: 0 3px;
}

@media screen and (max-width: 960px) {

.perfomance {
	padding-top: 15px;
	padding-bottom: 80px;
}

.perfomance__col {
	font-size: 22px;
}

.perfomance__gallery {
	flex-direction: column;
	margin: 0px;
}

.perfomance__box {
	max-width: 500px;
	width: 100%;
	margin: 0px auto;
}

.perfomance__box img {
	margin: 0 auto;
}

.perfomance__box:not(:last-child) {
	margin-bottom: 25px;
}

}

@media screen and (max-width: 780px) {

.perfomance {
	padding-bottom: 60px;
}

.perfomance__col {
	font-size: 20px;
}

}

