.service {
	padding-bottom: 80px;
}

.service__image {
	margin-top: 5px;
	margin-bottom: 45px;
}

.service__image img {
	display: block;
	width: 100%;
	border-radius: 40px;
}

.service__text {
	margin-bottom: 5px;
}

.service__text h4 {
	font-size: 36px;
}

.service__text h5 {
	font-size: 30px;
}

.service__text h6 {
	font-size: 24px;
}

.service__text h4,
.service__text h5,
.service__text h6 {
	line-height: 1.2;
	color: #000;
	text-transform: uppercase;
	padding-bottom: 30px;
	padding-bottom: 30px;
}

.service__text p {
	font-size: 18px;
	line-height: 1.2;
	color: #000;
	padding-bottom: 2em;
}

.service__text ul {
	margin: 1em 0;
}

.service__text ul li {
	list-style-type: disc;
	list-style-position: inside;
	line-height: 1.7;
	margin-bottom: 5px;
	padding-left: 20px;
}

.service__text ol {
	padding: 0px;
	margin: 1em 0;
}

.service__text ol li {
	list-style-type: decimal;
	list-style-position: inside;
	line-height: 1.7;
	margin-bottom: 5px;
	padding-left: 20px;
}

.service__text a {
	display: inline;
	font-size: 16px;
	line-height: 1.2;
	color: #000;
	text-decoration: underline;
}

.service__text a:hover {
	text-decoration: none;
}

@media screen and (max-width: 780px) {

.service__text h4,
.service__text h5,
.service__text h6 {
	line-height: 1.4;
}

}

