.single {
	margin-top: -15px;
}

.single__text {
	padding-bottom: 25px;
}

.single__text p {
	font-size: 16px;
	line-height: 1.9;
	color: #000;
	font-family: Roboto;
}

.single__text p:not(:last-child) {
	padding-bottom: 2em;
}

.single__text ul {
	margin: 1em 0;
	margin-bottom: 2em;
}

.single__text ul li {
	position: relative;
	font-size: 16px;
	line-height: 1.5;
	color: #000000;
	padding-left: 20px;
	font-family: Roboto;
}

.single__text ul li:not(:last-child) {
	margin-bottom: 12px;
}

.single__text ol {
	padding: 0px;
	margin: 1em 0;
}

.single__text ol li {
	list-style-type: decimal;
	list-style-position: inside;
	line-height: 1.7;
	margin-bottom: 5px;
	padding-left: 20px;
	font-family: Roboto;
}

.single__text a {
	display: inline;
	font-size: 16px;
	line-height: 1.2;
	color: #000;
	text-decoration: underline;
}

.single__text a:hover {
	text-decoration: none;
}

