.table-info + .block {
	padding-bottom: 70px;
}

.table-info__item {
	background-color: #fff;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 30px 40px;
	padding-bottom: 15px;
	margin-bottom: 90px;
}

.table-info__wrap {
	overflow: hidden;
	overflow-x: auto;
}

.table-info__wrap table {
	width: 100%;
	min-width: 900px;
}

.table-info__wrap table tr th,
.table-info__wrap table tr td {
	font-size: 16px;
	line-height: 1.2;
	text-transform: uppercase;
}

.table-info__wrap table tr th {
	padding-bottom: 20px;
	font-weight: 900;
}

.table-info__wrap table tr td {
	padding: 20px 0;
	padding-right: 10px;
}

.table-info__wrap table tr td:not(:first-child) {
	text-align: center;
}

.table-info__wrap table tr:not(:last-child) th,
.table-info__wrap table tr:not(:last-child) td {
	border-bottom: 2px solid #999999;
}

@media screen and (max-width: 960px) {

.table-info + .block {
	padding-bottom: 35px;
}

.table-info__item {
	padding: 25px 20px;
	padding-bottom: 15px;
	margin-bottom: 50px;
}

}

