.write {
	padding-bottom: 75px;
}

.write .title--inner {
	text-align: center;
}

.write + .main-footer .main-footer__holder:after {
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(51, 51, 51, 0.2);
}

.write__wrap {
	margin-top: 32px;
}

.write__error {
	color: #8B0000;
	padding-bottom: 15px;
	text-transform: uppercase;
	margin-left: 20px;
	font-weight: bold;
}

@media screen and (max-width: 960px) {

.write {
	padding-bottom: 25px;
}

.write__wrap {
	margin-top: 15px;
}

}

@media screen and (max-width: 780px) {

.write {
	padding-bottom: 15px;
}

}

